:root {
  --background: rgba(10, 10, 10, 1);
  --cardGradient: linear-gradient(to right, rgba(63, 38, 52, 1), rgba(50, 35, 48, 1));
  --highlighter: rgba(50, 24, 17, 1);
  --active: rgba(128, 52, 32, 1);
  --favorite: rgba(239, 51, 64, 1);
  --tracker: rgba(196, 84, 49, 1);
  --track_ball: rgba(255, 255, 255, 1);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  background-color: var(--background);
  font-family: 'Nunito';

}